<div class="container">

  <img src="../../../../assets/logoFinal.svg" alt="log" class="logo" />
  <div class="login">
    <div class="nav-links toggle">
      <a routerLink="/en" href="#home" class="nav-item" [class.active]="isActive == 'home'"
        (click)="changeActive('home')" (click)="tohome()">Home</a>
      <a routerLink="/en" href="#services" class="nav-item" [class.active]="isActive == 'service'"
        (click)="changeActive('service')" (click)="toservices()">
        Serives</a>
      <a routerLink="/en" href="../main/main.component.html#contact" class="nav-item"
        [class.active]="isActive == 'contactus'" (click)="changeActive('contactus')" (click)="tocontact()">Contact
        Us</a>
      <a routerLink="/en" class="nav-item" [class.active]="isActive == 'about'" (click)="changeActive('about')">About
        Us</a>
    </div>
    <img class="log-icon toggle" src="../../../../assets/images/login-icon.svg" alt="">
    <a routerLink="auth/login" class="nav-item toggle">Log In</a>

    <div routerLink="" class="lang-option">
      <select value="" name="" id="">
        <option routerLink="/en" value="English">EN</option>
        <option routerLink="/ar" value="Arabic">AR</option>
      </select>
    </div>
    <img src="../../../../assets/images/bars.svg" alt="" class="bars" (click)="showSidebar()" />
  
  </div>
  <div class="side-bar" [class.hidden]="isHidden">
    <a routerLink="" class="side-item">Home</a>
    <a routerLink="" class="side-item">Serives</a>
    <a routerLink="" class="side-item">About Us</a>
    <a routerLink="auth/login" class="side-item">Log In</a>
  </div>

</div>



