.container {
  background-color: white;
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0px;
  height: 80px;

  border-bottom: 0.5px solid var(--green);

  z-index: 999;
  font-size: 1.2rem;
}


.nav-links {
  margin-bottom: 0.3rem;

.logo-container {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

}

.nav-item {
  text-decoration: none;
  color: black;

  font-size: 1.3rem;
  transition: 0.3s ease all;
  padding: 0.7em 0.7rem;
  font-weight: bold;
  margin: 0.7rem;

  margin-right: 0.5rem;
  transition: 0.3s ease all;
  padding: 0.7em 1em;
  font-weight: 500;

}

.nav-item:hover {
  color: var(--light-green);
}

.active {
  background: var(--light-brown);
  border-radius: 999px;
}

.active:hover {
  color: var(--light-green);
}

.bars {
  width: 50px;
  padding: 0.25em;

  margin-right: 0.7rem;

  margin-right: 0.25rem;

}

.bars:hover {
  border: 1px solid var(--light-green);
  border-radius: 5px;
}

.toggle {
  display: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 200px;
}

.log-icon {
  width: 27px;
  height: 29px;
  margin: 0 -0.875rem 0 0.75rem;
}


.lang-option select {
  background-color: #DDFDD8;
  border: none;
  font-size: 19px;
  font-weight: bold;}

.lang-icon {
  width: 36px;
  height: 44px;
  margin: 0 0.5rem 0 -1.25rem;

}

.side-bar {
  z-index: 999;
  position: absolute;
  top: 80px;
  background: var(--light-brown);
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  clip-path: ellipse(100% 1000% at 0% 0%);
  transition: 0.3s all ease;
}

.side-item {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: black;
}

.hidden {
  clip-path: ellipse(0px 0px at 0% 0%);
}

.side-item:hover {
  border: 1px solid black;
}

@media all and (min-width: 900px) {
  .bars {
    display: none;
  }
  .toggle {
    display: flex;
  }

  .side-bar {
    display: none;
  }
  .login {
    min-width: 300px;
  }
}
