<!-- Footer -->
<footer class="foot-container">
    <div class="copyright">
        <span>
            Powered By
            <a href="https://www.youtube.com/channel/UCcMyeM9bBvTacXLXa2VGlhg/videos" target="_blank">
                Utanium Programming Corporation</a>
        </span>
        <a href="#">Terms &amp; conditions</a>
        <div class="social-icons">
            <img src="../../../../assets/images/facebook-icon.svg" alt="Facebook" class="icon50 filter-grey">
            <img src="../../../../assets/images/github-icon.svg" alt="GitHub" class="icon50 filter-grey">
        </div>
    </div>
</footer>
<!-- End Footer -->