.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  padding: 1em;
}

.sendMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  padding: 0.5em;
}

.sendMessage textarea {
  max-height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-top: 0.3em;
  resize: none;
}

.sendMessage input[type="submit"] {
  min-height: 40px;
  width: 100px;
  margin-left: 0.25em;
  border-radius: 0.4rem;
  background: rgba(var(--light-brown));
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.sendMessage input[type="submit"]:hover {
  opacity: 0.9;
}
.msg {
  padding: 1em;
  border: 1px solid rgba(var(--green));
  margin: 1rem 0rem;
  max-width: 60%;
  border-radius: 8px;
  align-self: flex-start;
}

.right {
  background: rgba(var(--light-brown));
  color: white;
  align-self: flex-end;
}
