<section>

            <!-- <div class="myday">
                <img src="../../../../../assets/images/add-icon.svg" alt="">
                <span>My Day</span>
            </div>

            <div class="imprtant">
                <img src="../../../../../assets/images/add-icon.svg" alt="">
                <span>Important</span>
            </div>

            <div class="planned">
                <img src="../../../../../assets/images/add-icon.svg" alt="">
                <span>Planned</span>
            </div>

            <div class="assign">
                <img src="../../../../../assets/images/add-icon.svg" alt="">
                <span>Assigned to me</span>
            </div>

            <div class="Flaged">
                <img src="../../../../../assets/images/add-icon.svg" alt="">
                <span>Flagged email</span>
            </div>

            <div class="tasks">
                <img src="../../../../../assets/images/add-icon.svg" alt="">
                <span>Tasks</span>
            </div> -->

    <article>

        <div class="main-container">
            <div class="taskTop">
                <img src="../../../../../assets/images/bar-icon.svg" alt="bar-icon">
                <p>Tasks</p>
                    <!-- <select name="..." id="" value="...">
                        <option value=""></option>
                        <option value=""></option>
                    </select> -->
            </div>
            <div class="sort">
                <img src="../../../../../assets/images/sort-icon.svg" alt="sort-icon">Sort
            </div>
        </div>

<!-- -----Tasks---- -->
    <div class="add-task">
        <form [formGroup]="AddTask">
            <div> 
                <div class="addinput">
                    <img src="../../../../../assets/images/add-icon.svg" alt="add-icon">
                    <input class="add" type="text" placeholder="Add Task" formControlName="Task"/>
                </div>
                <div class="icons" formGroupName="date">

                    <span class="datepicker-toggle">
                        <span class="datepicker-toggle-button"></span>
                        <input type="date" class="datepicker-input" formControlName="dueDate" >
                    </span>
                    <span> <img src="../../../../../assets/images/reminder me-icon.svg" alt="Reminder" formControlName="reminder" ></span>
                    <span> <img src="../../../../../assets/images/repeat-icon.svg" alt="Repeat" formControlName="repeat" ></span>
                </div>
                <div class="add-but">
                    <button type="button"  formArraylName="addNewTask">Add</button>
                </div>
            </div>

        </form>
        {{AddTask.value|json}}
    </div>


    <!-- <div class="taks">
        <ul>
            <li class="one-task"></li><hr>
            <li class="one-task"></li><hr>
            <li class="one-task"></li><hr>
            <li class="one-task"></li><hr>
            <li class="one-task"></li><hr>
            <li class="one-task"></li><hr>
        
        </ul> -->
        <div>    
        <ng-container *ngFor="let tasks of getTasks().controls ; let task=index  ">
            <ul>
                <li class="one-task" ></li>
            </ul>
            <img src="../../../../../assets/images/delete-icon.svg" alt="Delete Task" (click)="removeTask(task)">
            <hr>
        </ng-container>
    </div> 
    </article>  
</section>
