.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.add-task-container {
  border: 2px solid rgba(var(--light-green), 0.5);
  background: rgba(var(--light-silver));
  border-radius: 0.5rem;
}

.myform {
  display: flex;
  width: 100%;
  padding: 1em;
  flex-direction: column;
  align-items: center;
}

.form-label {
  background: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 100%;
  border: none;
  background-color: white;
  height: 50px;
  border-radius: 0px;
  outline: none;
  transition: 0.3 all ease;
  margin: 0px;
}

.form-input:focus {
  border-bottom: 2px solid rgba(var(--light-green));
}

.sub-container {
  display: flex;
  width: 90%;
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  align-items: center;
}

.reminder-list {
  border: none;
  border-radius: 0px;
  margin: 0px;
  margin-left: -0.4rem;
  background: #ccc;
}

.reminder {
  display: flex;
  align-items: center;
}

.drop-down {
  margin-left: 1rem;
}

.task-list li {
  min-height: 35px;
  background: #eee;
}
