.welcome {
    display: flex;
    flex-direction: column;
    background: var(--gradient-back);
    padding: 3em;
    color: white;
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 92.96%,
      1% 92.96%,
      2% 92.95%,
      3% 92.94%,
      4% 92.92%,
      5% 92.9%,
      6% 92.87%,
      7% 92.84%,
      8% 92.81%,
      9% 92.77%,
      10% 92.72%,
      11% 92.67%,
      12% 92.62%,
      13% 92.56%,
      14% 92.5%,
      15% 92.43%,
      16% 92.36%,
      17% 92.29%,
      18% 92.21%,
      19% 92.13%,
      20% 92.04%,
      21% 91.95%,
      22% 91.86%,
      23% 91.76%,
      24% 91.66%,
      25% 91.56%,
      26% 91.45%,
      27% 91.34%,
      28% 91.23%,
      29% 91.12%,
      30% 91%,
      31% 90.88%,
      32% 90.76%,
      33% 90.64%,
      34% 90.51%,
      35% 90.39%,
      36% 90.26%,
      37% 90.13%,
      38% 90%,
      39% 89.87%,
      40% 89.73%,
      41% 89.6%,
      42% 89.47%,
      43% 89.33%,
      44% 89.2%,
      45% 89.07%,
      46% 88.93%,
      47% 88.8%,
      48% 88.66%,
      49% 88.53%,
      50% 88.4%,
      51% 88.27%,
      52% 88.14%,
      53% 88.01%,
      54% 87.89%,
      55% 87.76%,
      56% 87.64%,
      57% 87.52%,
      58% 87.4%,
      59% 87.28%,
      60% 87.17%,
      61% 87.06%,
      62% 86.95%,
      63% 86.84%,
      64% 86.74%,
      65% 86.64%,
      66% 86.54%,
      67% 86.45%,
      68% 86.36%,
      69% 86.28%,
      70% 86.19%,
      71% 86.11%,
      72% 86.04%,
      73% 85.97%,
      74% 85.9%,
      75% 85.84%,
      76% 85.78%,
      77% 85.73%,
      78% 85.68%,
      79% 85.64%,
      80% 85.6%,
      81% 85.56%,
      82% 85.53%,
      83% 85.5%,
      84% 85.48%,
      85% 85.47%,
      86% 85.46%,
      87% 85.45%,
      88% 85.45%,
      89% 85.45%,
      90% 85.46%,
      91% 85.47%,
      92% 85.48%,
      93% 85.51%,
      94% 85.53%,
      95% 85.56%,
      96% 85.6%,
      97% 85.64%,
      98% 85.68%,
      99% 85.73%,
      100% 85.79%
    );
  }
  
  .message {
    margin-bottom: 4rem;
    width: 100%;
  }
  
  .message h1 {
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }
  
  .message p {
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }
  .welcome-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .welcome-img {
    width: 350px;
    margin-bottom: 8rem;
  }
  
  /*service grid styles*/
  .services-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .serv-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 400px;
  }
  
  .serv-title {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    padding: 0.5em;
    margin-bottom: 5rem;
  }
  
  .serv-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .serv-item img {
    width: 190px;
    height: 190px;
    margin-bottom: 14px;
  }
   .serv-name{
    font-size: 18px;
    padding:1em 0em 0.5em 0em ;
  
   }
  .serv-item p{
    // font-size: 15px;
    margin-top:17px ;
  }
  .imp {
    color: var(--primary-color);
  }
  .read_more{
     align-self: flex-end;
     text-decoration: none;
     font-style:small;
     text-align: left;
     margin-top:1rem;
     margin-left:10px;
    
  }
  .about{
    // display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .about h1{
     display: inline;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    padding: 0.5em;
    margin-bottom: 2rem;
  }
  .txt{
    
    padding: 2.7em 1em 1em 1em;
    text-align: center;
  }
  
  @media all and (min-width: 900px) {
    .welcome {
      flex-direction: row;
      padding: 8em 4em;
      align-items: center;
      clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 92.96%,
        1% 92.94%,
        2% 92.91%,
        3% 92.84%,
        4% 92.75%,
        5% 92.64%,
        6% 92.5%,
        7% 92.34%,
        8% 92.15%,
        9% 91.95%,
        10% 91.73%,
        11% 91.49%,
        12% 91.23%,
        13% 90.96%,
        14% 90.68%,
        15% 90.39%,
        16% 90.09%,
        17% 89.78%,
        18% 89.47%,
        19% 89.15%,
        20% 88.84%,
        21% 88.53%,
        22% 88.23%,
        23% 87.93%,
        24% 87.64%,
        25% 87.36%,
        26% 87.09%,
        27% 86.84%,
        28% 86.61%,
        29% 86.39%,
        30% 86.19%,
        31% 86.02%,
        32% 85.86%,
        33% 85.73%,
        34% 85.62%,
        35% 85.54%,
        36% 85.48%,
        37% 85.45%,
        38% 85.45%,
        39% 85.47%,
        40% 85.51%,
        41% 85.59%,
        42% 85.68%,
        43% 85.81%,
        44% 85.95%,
        45% 86.12%,
        46% 86.31%,
        47% 86.52%,
        48% 86.75%,
        49% 86.99%,
        50% 87.25%,
        51% 87.53%,
        52% 87.81%,
        53% 88.11%,
        54% 88.41%,
        55% 88.72%,
        56% 89.03%,
        57% 89.34%,
        58% 89.66%,
        59% 89.96%,
        60% 90.27%,
        61% 90.56%,
        62% 90.85%,
        63% 91.13%,
        64% 91.39%,
        65% 91.63%,
        66% 91.86%,
        67% 92.07%,
        68% 92.27%,
        69% 92.44%,
        70% 92.58%,
        71% 92.71%,
        72% 92.81%,
        73% 92.88%,
        74% 92.93%,
        75% 92.96%,
        76% 92.95%,
        77% 92.92%,
        78% 92.87%,
        79% 92.79%,
        80% 92.68%,
        81% 92.56%,
        82% 92.4%,
        83% 92.23%,
        84% 92.03%,
        85% 91.82%,
        86% 91.58%,
        87% 91.33%,
        88% 91.07%,
        89% 90.79%,
        90% 90.5%,
        91% 90.21%,
        92% 89.9%,
        93% 89.59%,
        94% 89.28%,
        95% 88.97%,
        96% 88.66%,
        97% 88.35%,
        98% 88.05%,
        99% 87.75%,
        100% 87.47%
      );
    }
    .message p {
      font-size: 1.3rem;
    }
    .serv-item img {
      width: 205px;
      height: 205px;    
    }
    .serv-name{
      font-size: 22.5px;
     }
    

  }
  