<!-- Footer -->
<footer class="foot-container">
  <div class="site">
    <div class="links-icons">
      <a href="#" class="home">الصفحة الرئيسية</a>
      <a href="#" class="service">الخدمات</a>
      <a href="#" class="about1">عن الموقع</a>
      <a href="#" class="tutorial">المصادر</a>
      <a href="#" class="docs">الوثائق</a>
    </div>
    <div class="social-icons">
      <img src="../../../../assets/images/facebook-icon.svg" alt="Facebook" class="icon50 filter-grey">
      <img src="../../../../assets/images/github-icon.svg" alt="GitHub" class="icon50 filter-grey">
    </div>
  </div>

  <div class="contact">
    <h2 class="conta">للتواصل معنا</h2>
    <form action="" class="contact-form">
      <label for="email"> البريد الإلكتروني:</label>
      <input type="text" id="email">
      <label for="message"> ارسال رسالة:</label>
      <textarea id="message" rows="6"></textarea>
    </form>
  </div>

  <div class="copyright">
    <span>
      مدعوم من
      <a href="https://github.com/learning-lantern" target="_blank">
        Utanium Programming Corporation</a>
    </span>
    <a href="#">الشروط &amp; الأحكام</a>
  </div>
</footer>
<!-- End Footer -->
