<div class="header-container">
  <div class="todo">
    <img routerLink="/en" src="../../../../../assets/logoFinal.svg" alt="logo">
      <p>To Do</p>
  </div>
  <div class="search">
    <form>
        <input type="text" name="Search" placeholder="Search">
      </form>
  </div>
  <div class="icons">
    <img src="../../../../../assets/images/setting-icon.svg" alt="setting-icon">
    <img src="../../../../../assets/images/question-icon.svg" alt="question-icon">
    <img src="../../../../../assets/images/user-icon.svg" alt="user-icon">

  </div>
</div>