.header-container {
  background-color: #ddfdd8;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  height: 80px;
  border-bottom: 0.5px solid var(--green);
  z-index: 999;
}

.todo {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
  display: flex;
  width: 42%;
}
.todo p {
  margin: 1.7rem 0 0 0.3rem;
}

.todo img {
  width: 45px;
  cursor: pointer;
  margin-right: 0.2rem;
}
.search {
  margin-right: -4rem;
}

.search form input[type="text"] {
  width: 55%;

  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  margin: 1rem 1rem 0 0;
  background: url("/assets/images/search-icon.svg") no-repeat 10px 10px white;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.icons {
  display: flex;
}
.icons img {
  width: 22px;
  margin-right: 0.7rem;
}
.nav-item {
  text-decoration: none;
  margin: 1.3rem 0 0 0;
  transition: 0.3s ease all;
  padding: 0.7em 0.5em;
  font-weight: 500;
}
.nav-item:hover {
  color: rgba(var(--brown));
}
.dropdown-content {
  padding: 1em;
  width: 150px;
  background: rgba(var(--very-light-green));
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 80px;
  z-index: 1001;
}
.dropdown-content a {
  text-decoration: none;
}
.dropdown-content a:hover {
  color: rgba(var(--brown));
}
@media all and (min-width: 900px) {
  .todo {
    margin-left: 2rem;
  }
  .todo img {
    width: 55px;
    margin-right: 1.2rem;
  }
  .search {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-right: 8rem;
  }
  .search form input[type="text"] {
    width: 300px;
  }
  .icons {
    margin-right: 1.5rem;
  }
  .icons img {
    width: 26px;
    justify-content: space-between;
    margin-right: 2rem;
  }
}
