.header-container {
  background-color: #DDFDD8;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  height: 80px;
  border-bottom: 0.5px solid var(--green);
  z-index: 999;
}

.todo {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
  display: flex;
}

.todo p {
  margin-top: 1.7rem;
}

.todo img {
  width: 45px;
  cursor: pointer;
  margin-right: .2rem;
}
.search{
  margin-right: -4rem;
}

.search form input[type=text] {
  width:65% ;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 13px;
  font-size: 16px;
  margin-top: 1rem;
  background-color: white;
  background-image: url('/assets/images/search-icon.svg');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search form input[type=text]:hover {
  cursor: pointer;
}

.icons {
  display: flex;
}

.icons img {
  width: 22px;
  margin-right: .5rem;
}

.todo p,
.icons img:hover {
  cursor: pointer;
}

@media all and (min-width: 900px) {
  .todo {
    margin-left: 2rem;
  }

  .todo img {
    width: 55px;
    margin-right: 1.2rem;
  }

  .search form input[type=text] {
    width: 300px;
    
  }

  .search form input[type=text]:focus {
    width: 105%;
    margin:1rem 8rem 0 0 ;
    outline: none;
  }
  .icons  img{
    width: 26px;
     justify-content: space-between;
     margin-right: 2rem; 
  }
  
}
