<div class="header-container">
  <div class="todo">
    <img routerLink="/en" src="/assets/logoFinal.svg" alt="logo" title="Learning Lantern logo">
      <p>To Do</p>
  </div>
  <div class="search">
    <form>
        <input type="text" name="Search" placeholder="Search" title="Search">
      </form>
  </div>
  <div class="icons">
    <img src="../../../../../assets/images/setting-icon.svg" alt="setting-icon" title="Settings">
    <img src="../../../../../assets/images/question-icon.svg" alt="question-icon" title="help">
    <img src="../../../../../assets/images/user-icon.svg" alt="user-icon" title="user account">

  </div>
</div>