* {
  margin-left: 1.1rem;
  padding: 1em;
  font-size: 1rem;
}

input,
textarea {
  display: flex;
  width: 90%;
  margin-top: 1rem;
  outline: none;
  overflow: hidden;
  border: 1px solid;
  border-radius: 6px;
}

textarea {
  height: 160px;
}

.save,
.cancel {
  color: white;
  border-radius: 10px;
}

.save,
.cancel:hover {
  cursor: pointer;
}

.save {
  background-color:#232b55bf;
}

.cancel {
  background-color: #ff1818;
}
