* {
  margin-left: 1.1rem;
  padding: 1em;
  font-size: 1rem;
}

input,
textarea {
  display: flex;
  width: 70%;
  margin-top: 1rem;
  outline: none;
  overflow: hidden;
  border: 1px solid;
  border-radius: 6px;
}

textarea {
  height: 160px;
}
button{
    color: white;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
}
.update{
  background-color:#232b55bf;
}

.delete,
.cancel{
    background-color: #ff1818;
}