<div id="home" class="welcome">
  <div class="message">
    <h1>مرحبا بك في Learning Lantern</h1>

    <p class="toggle">
      نحن نرتقي بالعملية التعليمية إلى مدى جديد ومتطور ، من خلال بناء بيئة
      تعليمية متكاملة وسهلة الاستخدام عبر الإنترنت توافق البيئة الحقيقية لتلقي
      العلم عن طريق توفير خدمات وأدوات ملائمة للعملية التعليمية.
    </p>
  </div>
  <div class="welcome-img-container">
    <img
      src="../../../../assets/images/welcome-image-ar.svg"
      alt=""
      class="welcome-img"
    />
  </div>
</div>
<div class="waves">
  <img src="../../../../../assets/images/waves.png" alt="waves" />
</div>
<div   id="services" class="services-container">
  <h1 class="serv-title">الخدمات</h1>
  <div class="serv-grid">
    <div class="serv-item">
      <img src="../../../../assets/images/virtual-classroom-ar.svg" alt="" />
      <strong class="serv-name">الفصول الأفتراضية</strong>
      <p>
        تواصل الطالب والمدرس معًا عبر
        <strong class="imp">اجتماعات تفاعلية </strong> من خلال الإنترنت
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/chat-ar.svg" alt="" />
      <strong class="serv-name">الدردشة الفورية</strong>
      <p>
        ابق على تواصل دائم مع الآخرين عن طريق إرسال
        <strong class="imp"> الرسائل الفورية.</strong>
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/video-ar.svg" alt="" />
      <strong class="serv-name">الفيديو التفاعلي</strong>
      <p>
        يمكنك استخدام<strong class="imp">
          خدمة استضافة الفيديوهات التعليمية
        </strong>
        فى أي مكان وفي أي وقت عبر<strong> مقاطع الفيديو التفاعلية . </strong>
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/calendar-ar.svg" alt="" />
      <strong class="serv-name">التقويم وقائمة المهام</strong>
      <p>
        حافظ على تنظيم نفسك وتتبع مهامك من خلال
        <strong class="imp"> خدمات التقويم وقائمة المهام </strong>المتكاملة.
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/exam-ar.svg" alt="" />
      <strong class="serv-name">الامتحانات والاختبارات عبر الإنترنت</strong>
      <p>
        اختبر تقدمك في التعلم عن طريق
        <strong class="imp"> الامتحانات والاختبارات عبر الإنترنت.</strong>
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
  </div>
</div>

<div  id="contact" class="contact-us">
  <img src="../../../../assets/images/contact us desgin-ar.svg" alt="" />
  <div class="contant"><h2>للتواصل معنا</h2></div>

  <div class="contact-us-form">
    <form action="" class="contact-form">
      <label for="email">البريد الالكتروني :</label>
      <input type="text" id="email" />
      <label for="message">:الرسالة</label>
      <textarea id="message" rows="6"></textarea>
      <button type="submit">إرسال</button>
    </form>
  </div>
  <div class="person toggle">
    <img src="../../../../assets/images/contact us persom-ar.svg" alt="" />
  </div>
</div>
