.welcome {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 4rem;
  width: 100%;
}

.message h1 {
  color: #0e6016;
  line-height: 1.5em;
  margin-bottom: 1rem;
  padding: 0.7em 3.5rem 0 3em;
}

.message p {
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}

.welcome-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.welcome-img {
  width: 303px;
  margin-bottom: 5rem;
}

/*service grid styles*/
.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(40px);
}

.serv-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 400px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

}

.serv-title {
  color: var(--green);
  border-bottom: 3px solid var(--green);
  padding: 0.5em;
  margin-bottom: 5rem;
  margin: 5rem 0 4rem 0;
  animation-name: fadeInDown;
  animation-duration: 5s;
}

.serv-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.serv-item img {
  width: 190px;
  height: 190px;
  margin-bottom: 14px;
}

.serv-name {
  font-size: 18px;
  padding: 1em 0em 0.5em 0em;
}

.toggle {
  display: none;
}

.serv-item p {
  margin-top: 17px;
}

.imp {
  color: var(--green);
}

.read_more {
  color: #1cab04;
  align-self: flex-end;
  text-decoration: none;
  font-style: small;
  text-align: right;
  margin-top: 15px;
  margin-right: 1rem;
}

.contact-us {
  display: flex;
  justify-content: center;
  margin-top: 7.8rem;
}

.contact-us img {
  width: 350px;
  height: 321px;
}

.contant {
  position: absolute;
  color: #fff;
  margin: -1rem 0 0 2rem;
  width: 25%;
}

.contact-us-form {
  position: absolute;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 2.8rem 2rem 0 0;
}

label {
  font-weight: bold;
  margin: 0.1rem 2.5rem 0 0;
}

.contact-form input[type="text"] {
  width: 250px;
  height: 30px;
}

.contact-form textarea {
  width: 250px;
  height: 88px;
}

.contact-form input[type="text"],
.contact-form textarea {
  border: 0.5px solid #1b7918;
  border-radius: 10px;
  padding: 0.25em;
  font-size: 1.4rem;
  background-color: #ddfdd8;
  margin-right: 30px;
}

.contact-form button {
  width: 75px;
  height: 35px;
  background-color: #0e6016;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 9px;
  margin-right: 2rem;
}

.contact-form button:hover {
  cursor: pointer;
}

.person {
  position: absolute;
  right: 22.3rem;
  bottom: 3.75rem;
}

.waves img {
  position: absolute;
  width: 100%;
  transform: translateY(-70px);
  height: 55px;
}

@media all and (min-width: 900px) {
  .welcome {
    flex-direction: row;
    padding: 8em 4em 2em;
    align-items: center;
  }

  .welcome-img {
    width: 374px;
    margin-bottom: 5rem;
  }

  .message p {
    font-size: 1.3rem;
  }

  .message h1 {
    padding: 0.7em 0.1em 0 2em;
  }

  .serv-item img {
    width: 205px;
    height: 205px;
  }

  .serv-name {
    font-size: 22.5px;
  }

  .toggle {
    display: initial;
  }

  .waves img {

    position: absolute;
    width: 100%;
    transform: translateY(-80px);
  }

  .contant {
    margin: -1rem 0 0 5rem;
    width: 10%;
  }

  .contact-us img {
    width: 367px;
    height: 335px;
  }

  .contact-us-form {
    position: absolute;
    right: 30rem;
    bottom: 8rem;
  }

  .person img {
    width: 170px;
    height: 280px;
    margin-bottom: 1rem;
  }

}
