<div class="welcome" id="home">
  <div class="message">
    <h1 class="messageTitle">
      مرحبا بك في <span class="indent50">Learning Lantern</span>
    </h1>
    <p class="toggle">
      نحن نرتقي بالعملية التعليمية إلى مدى جديد ومتطور ، من خلال بناء بيئة
      تعليمية متكاملة وسهلة الاستخدام عبر الإنترنت توافق البيئة الحقيقية لتلقي
      العلم عن طريق توفير خدمات وأدوات ملائمة للعملية التعليمية.
    </p>
  </div>
  <div class="welcome-img-container">
    <img
      src="../../../../assets/images/welcome-image.svg"
      alt=""
      class="welcome-img"
    />
  </div>
</div>
<div class="waves">
  <img src="../../../../../assets/images/waves.png" alt="" />
</div>
<div class="services-container" id="services">
  <h1 class="serv-title">خدماتنا</h1>
  <div class="serv-grid">
    <div class="serv-item">
      <img src="../../../../assets/images/virtual-classroom.svg" alt="" />
      <strong class="serv-name">الفصول الافتراضية</strong>
      <p>
        يتواصل الطلاب والمدرس معًا عبر
        <strong class="imp">اجتماعات تفاعلية</strong> من خلال الإنترنت .
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/chat.svg" alt="" />
      <strong class="serv-name">المحادثات الفورية</strong>
      <p>
        ابق على تواصل دائم مع الآخرين عن طريق خدمة
        <strong class="imp"> المحادثات الفورية.</strong>
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/video.svg" alt="" />
      <strong class="serv-name">الفيديو التفاعلي</strong>
      <p>
        التعليم أصبح متاح في أي مكان وأي وقت من خلال خدمة
        <strong class="imp">الفيديوهات التفاعلية. </strong>
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/calendar.svg" alt="" />
      <strong class="serv-name">التقويم وقائمة المهام</strong>
      <p>
        انجز مهامك بشكل منظم باستخدام خدمة
        <strong class="imp"> التقويم وقائمة المهام الشخصية </strong>.
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/exam.svg" alt="" />
      <strong class="serv-name">الاختبارات عبر الإنترنت </strong>
      <p>
        قم بقياس مدى تعلمك عن طريق خدمة
        <strong class="imp"> الاختبارات عبر الإنترنت.</strong>
      </p>
    </div>
  </div>
  <div class="contact-us">
    <form class="contact-form form" id="contact-us">
      <h1 class="form-title">تواصل معنا</h1>
      <div class="form-control-group">
        <div class="sub-control">
          <label for="userName">الاسم: </label>
          <input type="text" name="userName" id="userName" />
        </div>
        <div class="sub-control">
          <label for="subject">موضوع الرسالة: </label>
          <input type="text" name="subject" id="subject" />
        </div>
      </div>
      <div class="form-control">
        <label for="userEmail">البريد الالكتروني: </label>
        <input type="email" name="userEmail" id="userEmail" />
      </div>
      <div class="form-control">
        <label for="userEmail">الرسالة: </label>
        <textarea name="userMessage" id="userMessage" rows="5"></textarea>
      </div>
      <button class="btn-primary">ارسال</button>
    </form>
    <img
      src="/assets/images/contactUs.svg"
      alt="contact"
      class="toggle"
      style="max-width: 350px; margin-right: 2rem"
    />
  </div>
</div>
