<div class="welcome">
  <div class="message">
    <h1>مرحبا بك في Learning Lantern</h1>
    <p>
      نحن نرتقي بالعملية التعليمية إلى مدى جديد ومتطور ، من خلال بناء بيئة
      تعليمية متكاملة وسهلة الاستخدام عبر الإنترنت توافق البيئة الحقيقية لتلقي
      العلم عن طريق توفير خدمات وأدوات ملائمة للعملية التعليمية.
    </p>
  </div>
  <div class="welcome-img-container">
    <img
      src="../../../../assets/images/welcome-image.svg"
      alt=""
      class="welcome-img"
    />
  </div>
</div>
<div class="waves">
  <img src="../../../../../assets/images/waves.png" alt="waves" />
</div>
<div class="services-container">
  <h1 class="serv-title">خدماتنا</h1>
  <div class="serv-grid">
    <div class="serv-item">
      <img src="../../../../assets/images/virtual-classroom.svg" alt="" />
      <strong class="serv-name">الفصول الأفتراضية</strong>
      <p>
        تواصل الطالب والمدرس معًا عبر
        <strong class="imp">اجتماعات تفاعلية </strong> من خلال الإنترنت
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/chat.svg" alt="" />
      <strong class="serv-name">الدردشة الفورية</strong>
      <p>
        ابق على تواصل دائم مع الآخرين عن طريق إرسال
        <strong class="imp"> الرسائل الفورية.</strong>
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/video.svg" alt="" />
      <strong class="serv-name">الفيديو التفاعلي</strong>
      <p>
        يمكنك استخدام<strong class="imp">
          خدمة استضافة الفيديوهات التعليمية
        </strong>
        فى أي مكان وفي أي وقت عبر<strong> مقاطع الفيديو التفاعلية . </strong>
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/calendar.svg" alt="" />
      <strong class="serv-name">التقويم وقائمة المهام</strong>
      <p>
        حافظ على تنظيم نفسك وتتبع مهامك من خلال
        <strong class="imp"> خدمات التقويم وقائمة المهام </strong>المتكاملة.
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/exam.svg" alt="" />
      <strong class="serv-name">الامتحانات والاختبارات عبر الإنترنت</strong>
      <p>
        اختبر تقدمك في التعلم عن طريق
        <strong class="imp"> الامتحانات والاختبارات عبر الإنترنت.</strong>
      </p>
      <a routerLink="" class="read_more">اقرأ المزيد >></a>
    </div>
  </div>
</div>
<!--Start ABOUT US-->
<div class="about">
  <h1>عن موقعنا</h1>
  <p class="txt">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor illo eos quo
    aperiam dicta culpa quod aspernatur similique vero illum nulla maxime
    voluptas corporis eum, mollitia obcaecati facere quibusdam. Aspernatur eos
    magni maxime, praesentium nemo, unde dolorem quam nihil ullam recusandae
    numquam ab. Saepe, nisi! Est dolorem minus ratione,numquam maiores quia
    corporis! Repudiandae iusto totam et praesentium amet aliquid,
    necessitatibus, temporibus, maxime accusamus quas voluptatibus dolor illo
    reiciendis? Odit distinctio neque dignissimos deserunt, nemo in quidem
    commodi sunt, nam beatae repellendus voluptates, est quis consequatur maxime
    minus ducimus nisi possimus numquam a repudiandae blanditiis! Nulla maiores
    at labore corporis.
  </p>
</div>

<!--end ABOUT US-->
