.container{
    background-color: white;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    height: 80px;
    border-bottom: 3px solid var(--primary-color);
    z-index: 999;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 1.4rem;
    margin-right: 0.5rem;
    transition: 0.2s ease all;
    padding:0.75em;
}

.nav-links .nav-item{
    padding: 0.7em 1.4em;
}

.nav-item:hover{
    color:var(--accent-color); 
}

.active{
    background: var(--gradient-back);
    color:white;
    border-radius: 999px;
}

.active:hover{
    color:white;
}


.bars{
    width: 50px;
    padding:0.25em;
}

.bars:hover{
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}

.toggle{
    display: none;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media all and (min-width:900px){
    .bars{
        display: none;
    }

    .toggle{
        display: initial;
    }
}