<form action="" class="form">
  <div class="login-photo">
    <img src="../../../../../assets/images/login_photo.svg" alt="login" />
  </div>
  <div class="form-control">
    <label for="userUniversiyt">University: </label>
    <select name="userUniversity" id="userUniversity">
      <option value="0">Assuit University</option>
      <option value="1">EELU University</option>
    </select>
  </div>
  <div class="form-control">
    <label for="userEmail">Email: </label>
    <input type="text" name="userEmail" id="userEmail" />
  </div>
  <div class="form-control">
    <label for="userPassword">Password: </label>
    <input type="password" name="userPassword" id="userPassword" />
  </div>
  <div class="form-check">
    <div>
      <input type="checkbox" name="rememberMe" id="rememberMe" />
      <label for="rememberMe"> Remember Me.</label>
    </div>
    <a routerLink="#">Forget Password?</a>
  </div>
  <div class="form-submit">
    <button type="submit" class="btn pill-btn btn-primary">Log In</button>
  </div>
  <hr />
  <a routerLink="../signup" class="signup-here"
    >Don't have an account? Signup here</a
  >
</form>
