<div class="taskTop">
    <img src="/assets/images/bar-icon.svg" (click)="showSidebar()" alt="bar-icon">
    <p>المهام</p>
</div>
<!-- Main Container-->
<div class="main-container">
    <!-- Left Column -->
    <div class="side-bar" [class.hidden]="isHidden">
        <div class="my-date">
            <img src="/assets/images/myday.svg" alt="my date" />
            <span id="my-day">مهام اليوم </span>
        </div>
        <div class="mycourses">
            <img src="/assets/images/mycourses.svg" alt="محاضراتي" title="my Courses">
            <span>محاضراتي</span>
        </div>
        <div class="calendar">
            <img src="/assets/images/task-calendar1.svg" alt="المهام المقررة" title="Calendar">
            <span>المهام المقررة</span>
        </div>

        <div class="People">
            <img src="/assets/images/assigned-icon.svg" alt="المهام الخاصة بي" title="People">
            <span>المهام الخاصة بي</span>
        </div>

        <div class="tasks" (click)="showSidebar()">
            <img src="/assets/images/tasks-icon.svg" alt="tasks">
            <span>المهام</span>
        </div>
        <div class="sidebar-footer">
            <div class="People">
                <img src="/assets/images/people.svg" alt="People" title="الأشخاص">
            </div>
            <div class="calendar">
                <img src="/assets/images/task-calendar.svg" alt="التقويم" title="التقويم">
            </div>
            <div class="todo">
                <img routerLink="/to-do" src="/assets/images/to-do-list.svg" alt="todo" title="الصفحة الرئيسية">
            </div>
        </div>
    </div>
    <!-- Center Column -->
    <div class="task-container">
        <div class="add-task-container">
            <form class="myform" [formGroup]="addTaskForm" (ngSubmit)="addtask()">
                <div class="sub-container">
                    <label for="addTask" class="form-label">
                        <img src="/assets/images/add-icon.svg" alt="add task" />
                    </label>
                    <input type="text" id="addTask" class="form-input" name="addTask" formControlName="task"
                        placeholder="إضافة مهام " />
                </div>
                <div class="icon-container" formGroupName="date">
                    <span style="margin-right: 1rem">
                        <label for="dueDate">
                            <img src="/assets/images/calendar-icon.svg" alt="" srcset="" title="إضافة موعد محدد" />
                        </label>
                        <input type="date" class="hidden-inplace" style="padding: 0px; border: none; outline: none"
                            name="dueDate" id="dueDate" formControlName="dueDate" />
                    </span>
                    <span style="margin-right: 1rem; display: flex; align-items: center">
                        <label (click)="drop = !drop" for="reminder" class="reminder">
                            <img src="/assets/images/repeat-icon.svg" style="margin-right: 0.5rem" />{{ myChoice }}
                        </label>
                        <div class="drop-down" [ngStyle]="{ display: drop ? 'flex' : 'none' }">
                            <select name="repeat" id="repeat" class="repeat-list" formControlName="repeat"
                                title="تكرار للمهام">
                                <option (click)="setRepeat('Daily')" value="0">يوميا</option>
                                <option (click)="setRepeat('Weekly')" value="1">اسبوعيا</option>
                                <option (click)="setRepeat('Monthly')" value="2">شهريا</option>
                                <option (click)="setRepeat('Yearly')" value="4">سنويا</option>
                            </select>
                        </div>
                    </span>
                    <button type="submit" style="margin-right: auto" class="btn-primary-small">
                        إضافة
                    </button>
                </div>
            </form>

        </div>

        <div class="task-list">
            <ul>
                <li *ngFor="let item of taskList; let i=index" (click)="showbar()">
                    <input class="checkbox" type="checkbox" name="done" id="done" />
                    {{ item.task }}
                    <img src="/assets/images/delete-icon.svg" (click)="removeTask(i)" alt="حذف المهمة"
                        title="حذف المهمة" class="pointer">
                </li>
            </ul>

        </div>
    </div>
    <!-- style="margin:1rem 0.7rem 0 0.7rem;" -->
    <div class="rightcolomm" tabindex="-15"></div>
    <!-- Right Column -->
    <div class="details" [class.hidden]="Hidden">
        <div class="task-name">
            <div class="task">
                <input type="checkbox" name="done" id="done" style="margin:0rem 1rem 1rem 1rem;"  /> 
                <span>المهمة</span>
            </div>
            <div class="task-steps">
                <label for="addTask" class="form-label">
                    <img src="/assets/images/add-icon.svg" alt="add task" />
                </label>
                <input type="text" id="addTask" class="steps-input" name="addTask" placeholder="إضافة خطواط" />
            </div>
        </div>

        <div class="mydate">
            <label for="my-day">
                <img src="/assets/images/myday.svg" alt="my date" />
            </label>
            <span id="my-day">إضافة الي يومي</span>
        </div>


        <div class="date">
            <div class="due-date">
                <label for="dueDate">
                    <img src="/assets/images/task-calendar.svg" alt="" srcset="" />
                </label>
                <!-- <input type="date" style="padding: 0px; border: none; outline: none" name="dueDate"/> -->
                <span>أضف موعد محدد</span>

            </div>
            <div class="repeat">
                <label for="repeat">
                    <img src="../../../../../assets/images/repeat(black).svg" alt="repeat" />
                </label>
                <span>تكرار</span>
            </div>
        </div>

        <div class="add-file">
            <label>
                <img src="../../../../../assets/images/addfile-icon.svg" alt="">
            </label>
            <div class="file-attach">
                <input id="file" type="file" value="Add file">
                <label for="file" class="pointer">إضافة ملف</label>
            </div>
        </div>
        <div class="add-note">
            <textarea name="add note" cols="30" rows="5" placeholder="إضافة ملاحظة"></textarea>
        </div>

        <div class="right-footer">
            <div class="backtotask">
                <img  (click)="showbar()" class="img-arabic pointer" src="/assets/images/goback-icon.svg" alt="الرجوع الي المهمة">
            </div>
            <div class="delete">
                <img src="/assets/images/delete-icon.svg"  alt="حذف المهمة"
                title="حذف المهمة">
            </div>
        </div>

    </div>
</div>