.footer-container {
  color: white;
  background-color: #555;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0em 1.5em;
}

.footer-container a {
  color: white;
}

.footer-container a:hover {
  color: black;
}

.social {
  margin-left: 2rem;
}

.terms {
  margin-left: auto;
}
