<div class="welcome" id="home">
  <div class="message">
    <h1>Welcome To Learning Lantern</h1>
    <p class="toggle">
      We improve the educational process to a new and developed extent, by
      building an integrated and easy-to-use online educational environment that
      matches the real learning environment through convenient educational
      services and tools for the educational process.
    </p>
  </div>
  <div class="welcome-img-container">
    <img src="../../../../assets/images/welcome-image.svg" alt="" class="welcome-img" />
  </div>
</div>
<div class="waves">
  <img src="../../../../../assets/images/waves.png" alt="" />
</div>

<div id="services" class="services-container">


  <h1 class="serv-title">Our Services</h1>
  <div class="serv-grid">
    <div class="serv-item">
      <img src="../../../../assets/images/virtual-classroom.svg" alt="" />
      <strong class="serv-name">Virtual Classroom</strong>
      <p>
        Connect Student and Instructor together via
        <strong class="imp">Online Interactive</strong> meetings
      </p>
      <a routerLink="" class="read_more">Read more >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/chat.svg" alt="" />
      <strong class="serv-name">Instant Chat</strong>
      <p>
        Stay Connected with others by sending
        <strong class="imp"> Instant Messages.</strong>
      </p>
      <a routerLink="" class="read_more">Read more >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/video.svg" alt="" />
      <strong class="serv-name">Interactive Video</strong>
      <p>
        Using our <strong class="imp">Video Hosting Service </strong>learning is
        available any where any time via <strong>Interactive Videos.</strong>
      </p>
      <a routerLink="" class="read_more">Read more >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/calendar.svg" alt="" />
      <strong class="serv-name">Calender & ToDo List</strong>
      <p>
        Keep yourself organized and keep track of your tasks with the integrated
        <strong class="imp"> Calender & ToDo list </strong>services.
      </p>
      <a routerLink="" class="read_more">Read more >></a>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/exam.svg" alt="" />
      <strong class="serv-name">Online Exams & Quizes</strong>
      <p>
        Test the Your Learning Progress via
        <strong class="imp"> Online Exams & Quizes.</strong>
      </p>
      <a routerLink="" class="read_more">Read more >></a>
    </div>
  </div>
</div>

<div id="contact" class="contact-us">
  <img src="../../../../assets/images/contact us desgin.svg" alt="" />
  <div class="contant">
    <h2>Contact Us</h2>
  </div>

  <div class="contact-us-form">
    <form action="" class="contact-form">
      <label for="email">Email: </label>
      <input type="text" id="email" />
      <label for="message">Message:</label>
      <textarea id="message" rows="6"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
  <div class="person toggle">
    <img src="../../../../assets/images/contact us persom.svg" alt="" />
  </div>
</div>