<div class="welcome" id="home">
  <div class="message">
    <h1 class="messageTitle">
      Welcome To <span class="indent50">Learning Lantern</span>
    </h1>
    <p class="toggle">
      We improve the educational process to a new and developed extent, by
      building an integrated and easy-to-use online educational environment that
      matches the real learning environment through convenient educational
      services and tools for the educational process.
    </p>
  </div>
  <div class="welcome-img-container">
    <img
      src="../../../../assets/images/welcome-image.svg"
      alt=""
      class="welcome-img"
    />
  </div>
</div>
<div class="waves">
  <img src="../../../../../assets/images/waves.png" alt="" />
</div>
<div class="services-container" id="services">
  <h1 class="serv-title">Our Services</h1>
  <div class="serv-grid">
    <div class="serv-item">
      <img src="../../../../assets/images/virtual-classroom.svg" alt="" />
      <strong class="serv-name">Virtual Classroom</strong>
      <p>
        Connect Students and Instructor together via
        <strong class="imp">Online Interactive</strong> meetings
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/chat.svg" alt="" />
      <strong class="serv-name">Instant Chat</strong>
      <p>
        Stay Connected with others by sending
        <strong class="imp"> Instant Messages.</strong>
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/video.svg" alt="" />
      <strong class="serv-name">Interactive Video</strong>
      <p>
        learning is available any where any time via
        <strong>Interactive Videos.</strong> using our
        <strong class="imp">Video Hosting Service </strong>
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/calendar.svg" alt="" />
      <strong class="serv-name">Calender & ToDo List</strong>
      <p>
        Keep yourself organized with the integrated
        <strong class="imp"> Calender & ToDo list </strong>services.
      </p>
    </div>
    <div class="serv-item">
      <img src="../../../../assets/images/exam.svg" alt="" />
      <strong class="serv-name">Online Exams & Quizes</strong>
      <p>
        Test the Your Learning Progress via
        <strong class="imp"> Online Exams & Quizes.</strong>
      </p>
    </div>
  </div>
  <div class="contact-us" id="contact-us">
    <form class="contact-form form">
      <h1 class="form-title">Contact Us</h1>
      <div class="form-control-group">
        <div class="form-control">
          <label for="userName">Name:</label>
          <input type="text" name="userName" id="userName" />
        </div>
        <div class="form-control">
          <label for="subject">Subject:</label>
          <input type="text" name="subject" id="subject" />
        </div>
      </div>
      <div class="form-control">
        <label for="userEmail">Email:</label>
        <input type="email" name="userEmail" id="userEmail" />
      </div>
      <div class="form-control">
        <label for="userMessage">Message: </label>
        <textarea name="userMessage" id="userMessage" rows="5"></textarea>
      </div>
      <button class="btn-primary">send</button>
    </form>
    <img
      src="/assets/images/contactUs.svg"
      alt="contact"
      class="toggle"
      style="max-width: 350px; margin-left: 2rem"
    />
  </div>
</div>
