.welcome {
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.message {
  margin-bottom: 4rem;
  width: 100%;
}

.message h1 {
  color: #0E6016;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}

.message p {
  line-height: 1.5em;
  margin-bottom: 1.5rem;
}

.welcome-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.welcome-img {
  width: 303px;
  margin-bottom: 5rem;
}

/*service grid styles*/
.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.serv-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: 400px;
}

.serv-title {
  color: var(--green);
  border-bottom: 3px solid var(--green);
  padding: 0.5em;
  margin-bottom: 5rem;
}

.serv-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.serv-item img {
  width: 190px;
  height: 190px;
  margin-bottom: 14px;
}

.serv-name {
  font-size: 18px;
  padding: 1em 0em 0.5em 0em;
}

.toggle {
  display: none;
}

.serv-item p {
  // font-size: 15px;
  margin-top: 17px;
}

.imp {
  color: var(--green);
}

.read_more {
  color: #1CAB04;
  align-self: flex-end;
  text-decoration: none;
  font-style: small;
  text-align: right;
  margin-top: 15px;
  margin-right: 1rem;
}

.contact-us {
  display: flex;
  justify-content: center;
  margin-top:2rem;
}

.contact-us img {
  width: 350px;
  height: 321px;
}

.contant {
  position: absolute;
  color: #FFFFFF;
  margin: 0.65rem 0 0 1rem;
}

.contact-us-form {
  position: absolute;

}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 4.25rem;
}

label {
  font-weight: bold;
  padding-left: 3px;
  margin-top: 0.5rem;
}

.contact-form input[type="text"] {
  width: 250px;
  height: 30px;
}

.contact-form textarea {
  width: 250px;
  height: 88px;
}

.contact-form input[type="text"],
.contact-form textarea {
  border: 0.5px solid #1b7918;
  border-radius: 10px;
  padding: 0.25em;
  font-size: 1.4rem;
  background-color: #DDFDD8;
  margin-right: 30px;
}

.contact-form button {
  width: 75px;
  height: 35px;
  background-color: #0E6016;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 9px;
}
.contact-form button:hover{
  cursor: pointer;
}
.person img{
  width: 170px;
  height: 280px;
}
.person{
  position: absolute;
  left: 22.3rem;
  bottom: 3.75rem;
}
@media all and (min-width: 900px) {
  .welcome {
    flex-direction: row;
    padding: 8em 4em;
    align-items: center;
  }

  .welcome-img {
    width: 374px;
    margin-bottom: 5rem;
  }

  .message p {
    font-size: 1.3rem;
  }

  .serv-item img {
    width: 205px;
    height: 205px;
  }

  .serv-name {
    font-size: 22.5px;
  }

  .toggle {
    display: initial;
  }
}
