.container {
  background-color: #ddfdd8;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  height: 80px;
  border-bottom: 0.5px solid rgba(var(--green));
  z-index: 999;
}

.nav-links {
  margin-bottom: 0.3rem;
}
.nav-item {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  transition: 0.3s ease all;
  padding: 0.7em 1em;
  font-weight: bold;
}

.nav-item:hover {
  color: rgba(var(--light-green));
}

.active {
  background: rgba(var(--light-brown));
  border-radius: 999px;
}

.active:hover {
  color: white;
}

.bars {
  display: flex;
  width: 50px;
  padding: 0.25em;
  margin-left: 0.5rem;
}

.bars:hover {
  border: 1px solid rgba(var(--light-green));
  border-radius: 5px;
}

.toggle {
  display: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.log-icon {
  width: 27px;
  height: 29px;
  margin: 0 -0.875rem 0 0.75rem;
}
.lang-icon {
  width: 36px;
  height: 44px;
  margin: 0 0.5rem 0 -1.25rem;
}
.side-bar {
  z-index: 999;
  position: absolute;
  top: 80px;
  background: rgba(var(--light-brown));
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  clip-path: ellipse(100% 1000% at 0% 0%);
  transition: 0.3s all ease;
}
.side-item {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: white;
}
.hidden {
  clip-path: ellipse(0px 0px at 0% 0%);
}
.side-item:hover {
  border: 1px solid white;
}
@media all and (min-width: 900px) {
  .bars {
    display: none;
  }

  .toggle {
    display: initial;
  }
  .side-bar {
    display: none;
  }
}
