.container {
  background-color: #DDFDD8;
  display: flex;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  height: 80px;
  border-bottom: 0.5px  solid var(--green);
  z-index: 999;
}

.nav-links{
  margin-bottom: 0.3rem;
}
.nav-item {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  transition: 0.3s ease all;
  padding: 0.7em 0.7rem;
  font-weight: bold;
  margin: 0.7rem;
}

.nav-item:hover {
  color: var(--light-green);
}

.active {
  background: var(--light-brown);
  border-radius: 999px;
}

.active:hover {
  color: white;
}

.bars {
  display: flex;
  width: 50px;
  padding: 0.25em;
  margin-right: 0.7rem;
}

.bars:hover {
  border: 1px solid var(--light-green);
  border-radius: 5px;
}

.toggle {
  display: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.log-icon{
  width: 27px;
  height: 29px;
  margin: 0 0.7rem 0rem -1rem;

}

.lang-option select{
  background-color: #DDFDD8;
  border: none;
  font-size: 19px;
  font-weight: bold;
}

.side-bar {
  z-index: 999;
  position: absolute;
  top: 80px;
  background: var(--light-brown);
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  clip-path: ellipse(100% 1000% at 0% 0%);
  transition: 0.3s all ease;
}
.side-item {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: black;
}
.hidden {
  clip-path: ellipse(0px 0px at 0% 0%);
}
.side-item:hover {
  border: 1px solid black;
}
@media all and (min-width: 900px) {
  .bars {
    display: none;
  }

  .toggle {
    display: initial;
  }
  .side-bar {
    display: none;
  }
}
