.container {
  background: rgba(var(--very-light-green), 0.8);
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 80px;
  border-bottom: 2px solid rgba(var(--green));
  z-index: 999;
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  cursor: pointer;
}

.nav-item {
  text-decoration: none;
  color: black;
  margin: 0rem 0.3rem;
  transition: 0.3s ease all;
  padding: 0.7em 1.2em;
  font-weight: 500;
}

.nav-item:hover {
  color: rgba(var(--brown));
}

.active {
  background: rgba(var(--light-brown));
  border-radius: 999px;
}

.bars {
  width: 50px;
  padding: 0.25em;
  margin-right: 0.25rem;
}

.bars:hover {
  border: 1px solid rgba(var(--light-green));
  border-radius: 5px;
}

.toggle {
  display: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 200px;
}
.hide {
  display: none;
}

.dropdown-content {
  padding: 1em;
  width: 150px;
  background: rgba(var(--very-light-green));
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 80px;
}

.dropdown-content a {
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  color: rgba(var(--brown));
}

.side-bar {
  z-index: 999;
  position: absolute;
  top: 80px;
  background: rgba(var(--light-brown));
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  clip-path: ellipse(100% 1000% at 0% 0%);
  transition: 0.3s all ease;
}
.side-item {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: black;
}
.hidden {
  clip-path: ellipse(0px 0px at 0% 0%);
}
.side-item:hover {
  border: 1px solid black;
}
@media all and (min-width: 900px) {
  .bars {
    display: none;
  }
  .toggle {
    display: flex;
  }

  .side-bar {
    display: none;
  }
  .login {
    min-width: 300px;
  }
}
