<div class="container">
    <img src="../../../../assets/logoFinal.png" alt="log" class="logo">
    <div class="nav-links toggle">
        <a routerLink="." class="nav-item" [class.active]="isActive == 'home'" (click)="changeActive('home')">الصفحة
            الرئيسية</a>
        <a routerLink="." class="nav-item" [class.active]="isActive == 'service'"
            (click)="changeActive('service')">خدماتنا</a>
        <a routerLink="." class="nav-item" [class.active]="isActive == 'about'" (click)="changeActive('about')">عن
            الموقع</a>
        <a routerLink="." class="nav-item" [class.active]="isActive == 'contact'"
            (click)="changeActive('contact')">للتواصل معنا</a>
    </div>
    <div class="login">
        <a routerLink="./login" class="nav-item toggle">تسجيل الدخول</a>
        <img src="../../../../assets/images/bars.svg" alt="" class="bars filter-primary">
        <a routerLink="" class="nav-item">AR</a>
    </div>
</div>