/* You can add global styles to this file, and also import other style files */
@import url(./assets/fonts/cairo/cairo.css);
@import url(./assets/fonts/roboto/roboto.css);
:root {
  --primary-color:#09052b;
  --accent-color:#05011d99;
  --gradient-back: linear-gradient(140deg,#09052b,#05011d99);
  // --primary-color: #003a3e;
  // --accent-color: #00868f;
  // --gradient-back: linear-gradient(140deg, #003a3e, #00868f);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arabic {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body {
  font-family: "roboto", sans-serif;
  position: relative;
}

.logo {
  width: 50px;
  margin: 0rem 0.5rem;
}

/*filters*/

.filter-blue {
  filter: invert(51%) sepia(89%) saturate(2920%) hue-rotate(161deg)
    brightness(95%) contrast(101%);
}

.filter-purple {
  filter: invert(23%) sepia(72%) saturate(1418%) hue-rotate(237deg)
    brightness(91%) contrast(99%);
}

.filter-grey {
  filter: invert(83%) sepia(7%) saturate(0) hue-rotate(12deg) brightness(93%)
    contrast(79%);
}

.filter-primary {
  filter: invert(12%) sepia(94%) saturate(1809%) hue-rotate(162deg)
    brightness(95%) contrast(101%);
}

.filter-accent {
  filter: invert(21%) sepia(93%) saturate(3682%) hue-rotate(171deg)
    brightness(101%) contrast(101%);
}
// icon sizes

.icon50 {
  width: 50px;
}
