/* You can add global styles to this file, and also import other style files */
@import url(./assets/fonts/cairo/cairo.css);
@import url(./assets/fonts/roboto/roboto.css);
@import url(./assets/styles/form.scss);
:root {
  --green: #0e6016;
  --light-green: #1cab04;
  --very-light-green: #dafdd4;
  --brown: #9f0000;
  --light-brown: #f3bb7d;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arabic {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body {
  font-family: "roboto", sans-serif;
  position: relative;
  min-width: 400px;
}

.logo {
  width: 55px;
  margin-left: 0.5rem;
  cursor: pointer;
}

/*filters*/
.filter-white {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(171deg)
    brightness(106%) contrast(101%);
}
.filter-grey {
  filter: invert(83%) sepia(7%) saturate(0) hue-rotate(12deg) brightness(93%)
    contrast(79%);
}
.filter-black {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(98%)
    contrast(101%);
}

// icon sizes

.icon50 {
  width: 50px;
}

.icon40 {
  width: 40px;
}

// buttons styles
.btn {
  cursor: pointer;
}
.pill-btn {
  border-radius: 999px;
}
.btn-primary {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em 3em;
  display: inline-block;
  color: white;
  border: 1px solid var(--green);
  background: var(--green);
  margin: 1rem 0rem;
}

.btn-primary:hover {
  color: black;
  border: 1px solid black;
}

// form styles

.login-photo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: -5rem;
}

.login-photo img {
  position: relative;
  max-width: 170px;
  transform: translateY(-100px);
}

.signup-here {
  // color: var(--green);
  margin: 1rem auto 0rem;
}

.signup-here:hover {
  color: black;
}

input.ng-dirty.ng-invalid.ng-touched {
  border: 1px solid red;
}
