/* You can add global styles to this file, and also import other style files */
@import url(./assets/fonts/cairo/cairo.css);
@import url(./assets/fonts/roboto/roboto.css);
@import Url(./assets/styles/form.scss);
:root {
  --green: 14, 96, 22;
  --light-green: 28, 171, 4;
  --very-light-green: 217, 253, 211;
  --brown: 159, 0, 0;
  --light-brown: 243, 187, 125;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arabic {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body {
  font-family: "roboto", sans-serif;
  position: relative;
  margin: auto;
  min-width: 400px;
  max-width: 1600px;
}

.logo {
  width: 55px;
  margin-left: 0.5rem;
  cursor: pointer;
}

/*filters*/
.filter-white {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(171deg)
    brightness(106%) contrast(101%);
}
.filter-grey {
  filter: invert(83%) sepia(7%) saturate(0) hue-rotate(12deg) brightness(93%)
    contrast(79%);
}
.filter-black {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(196deg) brightness(98%)
    contrast(101%);
}

.filter-brown {
  filter: invert(7%) sepia(87%) saturate(6457%) hue-rotate(11deg)
    brightness(110%) contrast(103%);
}

// icon sizes

.icon50 {
  width: 50px;
}

.icon40 {
  width: 40px;
}

.icon30 {
  width: 30px;
}

.icon25 {
  width: 25px;
}

// buttons styles
.btn {
  cursor: pointer;
}
.pill-btn {
  border-radius: 999px;
}
.btn-primary {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em 3em;
  display: inline-block;
  color: white;
  border: 1px solid rgba(var(--green));
  background: rgba(var(--green));
  margin: 1rem 0rem;
}

.btn-primary:hover {
  color: black;
  border: 1px solid black;
}

.indent50 {
  text-indent: 50px;
}

.pointer {
  cursor: pointer;
}

.img-arabic {
  transform: translateX(-1);
}
