/* You can add global styles to this file, and also import other style files */
@import url(./assets/fonts/cairo/cairo.css);
@import url(./assets/fonts/roboto/roboto.css);
:root {
  --green: #0e6016;
  --light-green: #1cab04;
  --very-light-green: #dafdd4;
  --brown: #9f0000;
  --light-brown: #f3bb7d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arabic {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body {
  font-family: "roboto", sans-serif;
  position: relative;
  min-width: 400px;
}

.logo {
  width: 50px;
  margin: 0rem 0.5rem;
}

/*filters*/

.filter-blue {
  filter: invert(51%) sepia(89%) saturate(2920%) hue-rotate(161deg)
    brightness(95%) contrast(101%);
}

.filter-purple {
  filter: invert(23%) sepia(72%) saturate(1418%) hue-rotate(237deg)
    brightness(91%) contrast(99%);
}

.filter-grey {
  filter: invert(83%) sepia(7%) saturate(0) hue-rotate(12deg) brightness(93%)
    contrast(79%);
}

.filter-primary {
  filter: invert(14%) sepia(9%) saturate(7293%) hue-rotate(205deg)
    brightness(96%) contrast(91%);
}

.filter-accent {
  filter: invert(21%) sepia(93%) saturate(3682%) hue-rotate(171deg)
    brightness(101%) contrast(101%);
}
// icon sizes

.icon50 {
  width: 50px;
}

// form styles

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  margin: 0.7rem 0rem;
}

.form-input {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  color: white;
  border-radius: 4444px;
}
.form-field label,
.form-select label {
  margin: 0.5rem 1rem;
}

.form-check {
  width: 100%;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  margin: 0.7rem 0rem;
}

.form-check input {
  margin: 0rem 0.5rem;
}

.form-submit-btn {
  margin: 0.7rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-submit-btn button {
  color: white;
  background: var(--light-green);
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 4444px;
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-submit-btn button:hover {
  opacity: 0.85;
}

.form-footer {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin: 1.5rem 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-footer a {
  opacity: 0.5;
  // cursor: pointer;
}

.form-footer a:hover {
  opacity: 1;
}

.form-select {
  width: 100%;
  margin: 0.7rem 0rem;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
}

.form-select select {
  border: none;
  border-radius: 44444px;
  font-size: 1.2rem;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.4);
}

.form-fieldset {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  width: 100%;
}
