.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form * {
  font-size: 1.1rem;
}

form > * {
  margin-bottom: 1rem;
}
.form-control {
  display: flex;
  flex-direction: column;
}

.form select,
.form input {
  background: white;
  padding: 0.5em;
  border: 1px solid var(--light-green);
  border-radius: 8px;
}

.form label {
  margin-bottom: 0.3rem;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form-check {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0rem;
}

form a {
  color: var(--brown);
}

form a:hover {
  color: black;
}
