<!-- Footer -->
<footer class="foot-container">
    <div class="site">
        <div class="links-icons">
            <a href="#" class="home">Home</a>
            <a href="#" class="service">Services</a>
            <a href="#" class="about1">About</a>
            <a href="#" class="tutorial">Tutorials</a>
            <a href="#" class="docs">Docs</a>
        </div>
        <div class="social-icons">
            <img src="../../../../assets/images/facebook-icon.svg" alt="Facebook" class="icon50 filter-grey">
            <img src="../../../../assets/images/github-icon.svg" alt="GitHub" class="icon50 filter-grey">
        </div>
    </div>

    <div class="contact">
        <h2 class="conta">contact Us</h2>
        <form action="" class="contact-form">
            <label for="email">Email: </label>
            <input type="text" id="email">
            <label for="message">Message:</label>
            <textarea id="message" rows="6"></textarea>
        </form>
    </div>

    <div class="copyright">
        <span>
            Powered By
            <a href="https://www.youtube.com/channel/UCcMyeM9bBvTacXLXa2VGlhg/videos" target="_blank">
                Utanium Programming Corporation</a>
        </span>
        <a href="#">Terms &amp; conditions</a>
    </div>
</footer>
<!-- End Footer -->