.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.forget {
  margin-left: auto;
  // text-decoration: none;
}

.remember label {
  margin-left: 0.5rem;
}

.form-error {
  color: red;
}
