<form action="" class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="login-photo">
    <img src="../../../../../assets/images/reg.png" alt="login" />
  </div>
  <div class="form-control">
    <label for="userUniversiyt">University: </label>
    <select
      name="userUniversity"
      id="userUniversity"
      formControlName="userUniversity"
    >
      <option value="0">Assuit University</option>
      <option value="1">EELU University</option>
    </select>
  </div>
  <div class="form-control">
    <label for="userFName">First Name: </label>
    <input
      type="text"
      name="userFName"
      id="userFName"
      formControlName="userFName"
    />
  </div>
  <div class="form-control">
    <label for="userMName">Middle Name: </label>
    <input
      type="text"
      name="userMName"
      id="userMName"
      formControlName="userMName"
    />
  </div>
  <div class="form-control">
    <label for="userLName">Last Name: </label>
    <input
      type="text"
      name="userLName"
      id="userLName"
      formControlName="userLName"
    />
  </div>
  <div class="form-control">
    <label for="userEmail">Email: </label>
    <input
      type="email"
      name="userEmail"
      id="userEmail"
      formControlName="userEmail"
    />
  </div>
  <div class="form-control">
    <label for="userPassword">Password: </label>
    <input
      type="password"
      name="userPassword"
      id="userPassword"
      formControlName="userPassword"
    />
  </div>
  <div class="form-control">
    <label for="confirmPassword">Confrim Password: </label>
    <input
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      formControlName="confirmPassword"
    />
  </div>
  <div class="form-iAgree">
    <div class="remember">
      <input
        type="checkbox"
        name="rememberMe"
        id="rememberMe"
        formControlName="iAgree"
      />
      <label for="rememberMe"
        >I Agree on <a routerLink="#">Terms&Conditions</a></label
      >
    </div>
  </div>
  <div class="form-submit">
    <button
      type="submit"
      class="btn pill-btn btn-primary"
      [disabled]="signupForm.invalid"
    >
      Sign Up
    </button>
  </div>
  <hr />
  <a routerLink="../login" class="signup-here"
    >Already have an account? Login here</a
  >
  {{ signupForm.status }}
</form>
